body
  box-sizing: border-box
  +reg
.container
  max-width: 1170px
  margin: auto
.btn
  border: none
  background-color: $primary-color
  outline: none
  transition: 0.3s
  cursor: pointer
  &:hover
    background-color: blue
    color: white
.section
  position: relative
  &__title
    position: absolute
    top: -53px
    left: 345px
    display: inline-block
    padding: 15px 67px
    background-color: $primary-color
    color: $text-color
    +bold
    font-size: 28px
    text-transform: uppercase
.btn-top
  position: fixed
  display: none
  bottom: 40px
  right: 40px
  padding: 10px 10px 5px 10px
  background-color: rgba($primary-color, 0.8)
  border-radius: 50%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &:hover
    background-color: blue
input.invalid
  border-bottom: 2px solid red
.invalid
  margin-bottom: 20px
  color: red
    
  