body
  box-sizing: border-box
.container
  max-width: 1170px
  margin: auto
.btn
  border: none
  background-color: $primary-color
  color: $text-color
  outline: none
  transition: 0.3s
  cursor: pointer
  &:hover
    background-color: blue
    color: white
    
  