@media (max-width: 1200px)
  .container
    max-width: 992px
  .header
    background-size: 39%
  .navbar
    &-menu
      &__logo
        margin-right: 50px

@media (max-width: 991px)
  .container
    max-width: 85%
  .header
    background-size: 100%
  .navbar
    &-block
      justify-content: space-between
    &-contacts
      &__phone
        display: none
      &__button
        display: none
    &-menu
      &__items
        display: none
  .menu
    &-link
      display: block

  @media (max-width: 768px)
    .container
      max-width: 80%