.introduction
  padding-top: 95px
  padding-bottom: 60px
  margin-bottom: 143px
  background-image: url('../img/introduction-bg.jpg')
  background-size: 58%
  background-repeat: repeat-y
  &__title
    padding: 20px 32px
  &-block
    display: flex
  &-cards
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    flex-basis: 75%
    margin-right: 90px
    &__item
      width: 198px
      height: 168px
      margin-bottom: 36px
      text-align: center
      background-color: #ffffff 
    &__image
      margin-top: 16px
      max-width: 100%
      &:last-child
        margin-top: 25px
    &__description
      text-transform: uppercase
      font-size: 18px
      font-weight: 400
      line-height: 23px
      color: $text-color
  &-list
    display: flex
    flex-direction: column
    justify-content: space-around
    list-style: none
    padding: 0
    margin: 0
    &__item
      display: flex
      align-items: flex-start
    &__text
      color: $text-color
      font-size: 20px
      font-weight: 400
      line-height: 25px
    &__number
      display: inline-block
      position: relative
      margin-right: 50px
      color: $primary-color
      font-size: 35px
      font-weight: 700
      line-height: 25px
      text-transform: uppercase
      &:after
        content: ''
        position: absolute
        top: 50%
        left: 25px
        width: 31px
        height: 2px
        background-color: #000000

