.servises
  &-block
    background-color: rgba($secondary-color, 0.55)
    padding-top: 104px
    padding-bottom: 117px
  &-variants
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &__item1, &__item2, &__item3, &__item4, &__item5, &__item6
      display: flex
      align-items: center
      flex-direction: column
      width: 377px
      height: 236px
      margin-bottom: 21px
      text-align: center
    &__item1
      background-image: url('../img/servises-bg1.jpg')
    &__item2
      background-image: url('../img/servises-bg2.jpg')
    &__item3
      background-image: url('../img/servises-bg3.jpg')
    &__item4
      background-image: url('../img/servises-bg1.jpg')
    &__item5
      background-image: url('../img/servises-bg2.jpg')
    &__item6
      background-image: url('../img/servises-bg3.jpg')
    &__title
      margin-top: 63px
      margin-bottom: 30px
      color: #fcfafa
      font-size: 20px
      font-weight: 400
      line-height: 26px
    &__button
      padding: 10px 20px
      color: $text-color
      font-size: 15px
      font-weight: 700
      text-transform: uppercase


