body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  border: none;
  background-color: #ffc800;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.section {
  position: relative;
}

.section__title {
  position: absolute;
  top: -57px;
  left: 346px;
  display: inline-block;
  padding: 20px 67px;
  background-color: #ffc800;
  color: #020202;
  font-size: 28px;
  text-transform: uppercase;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: 41%;
  background-position: top right;
  background-repeat: repeat-y;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-menu__logo {
  margin-right: 135px;
}

.navbar-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.navbar-menu__item {
  margin-right: 55px;
  font-size: 16px;
  position: relative;
}

.navbar-menu__item:after {
  content: '';
  position: absolute;
  top: 4px;
  right: -29px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #020202;
  opacity: 0.15;
}

.navbar-menu__item:last-child:after {
  display: none;
}

.navbar-menu__link {
  text-decoration: none;
  color: #020202;
  outline: none;
  padding-bottom: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-menu__link:hover {
  color: #ffc800;
  border-bottom: 2px solid #ffc800;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-contacts__phone {
  margin-right: 43px;
}

.navbar-contacts__icon {
  max-width: 100%;
}

.navbar-contacts__button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
}

.navbar-contacts__link {
  font-size: 18px;
  font-weight: 700;
  color: #020202;
  text-decoration: none;
  outline: none;
}

.navbar-contacts__regular {
  font-weight: 400;
}

.hero {
  margin-bottom: 133px;
}

.hero-slide {
  background: #000000 url("../img/hero-bg.png");
  background-size: cover;
  height: 742px;
  color: #fffffe;
  outline: none;
}

.hero-slide__title {
  margin-top: 211px;
  margin-bottom: 22px;
  color: #ffc800;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-slide__subtitle {
  margin: 0;
  margin-bottom: 41px;
  color: #fffffe;
  font-size: 35px;
  font-weight: 400;
}

.hero-slide__description {
  margin-bottom: 53px;
  color: #fffffe;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.42;
}

.hero-slide__button {
  padding: 15px 38px;
  color: #030303;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.servises {
  margin-bottom: 143px;
}

.servises-block {
  background-color: rgba(241, 241, 241, 0.55);
  padding-top: 104px;
  padding-bottom: 117px;
}

.servises-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servises-variants__item1, .servises-variants__item2, .servises-variants__item3, .servises-variants__item4, .servises-variants__item5, .servises-variants__item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 377px;
  height: 236px;
  margin-bottom: 21px;
  text-align: center;
}

.servises-variants__item1 {
  background-image: url("../img/servises-bg1.jpg");
}

.servises-variants__item2 {
  background-image: url("../img/servises-bg2.jpg");
}

.servises-variants__item3 {
  background-image: url("../img/servises-bg3.jpg");
}

.servises-variants__item4 {
  background-image: url("../img/servises-bg1.jpg");
}

.servises-variants__item5 {
  background-image: url("../img/servises-bg2.jpg");
}

.servises-variants__item6 {
  background-image: url("../img/servises-bg3.jpg");
}

.servises-variants__title {
  margin-top: 63px;
  margin-bottom: 30px;
  color: #fcfafa;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.servises-variants__button {
  padding: 10px 20px;
  color: #020202;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.introduction {
  padding-top: 95px;
  padding-bottom: 60px;
  background-image: url("../img/introduction-bg.jpg");
  background-size: 58%;
  background-repeat: repeat-y;
}

.introduction__title {
  padding: 20px 32px;
}

.introduction-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin-right: 60px;
}

.introduction-cards__item {
  width: 198px;
  height: 168px;
  margin-bottom: 36px;
  text-align: center;
  background-color: #ffffff;
}

.introduction-cards__image {
  margin-top: 16px;
  max-width: 100%;
}

.introduction-cards__image:last-child {
  margin-top: 25px;
}

.introduction-cards__description {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #020202;
}
/*# sourceMappingURL=main.css.map */