@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("../fonts/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  border: none;
  background-color: #ffc800;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.section {
  position: relative;
}

.section__title {
  position: absolute;
  top: -53px;
  left: 345px;
  display: inline-block;
  padding: 15px 67px;
  background-color: #ffc800;
  color: #020202;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

input.invalid {
  border-bottom: 2px solid red;
}

.invalid {
  margin-bottom: 20px;
  color: red;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: 41%;
  background-position: top right;
  background-repeat: repeat-y;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-menu__logo {
  margin-right: 135px;
}

.navbar-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.navbar-menu__item {
  margin-right: 58px;
  font-size: 16px;
  position: relative;
}

.navbar-menu__item:after {
  content: '';
  position: absolute;
  top: 4px;
  right: -29px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #020202;
  opacity: 0.15;
}

.navbar-menu__item:last-child:after {
  display: none;
}

.navbar-menu__link {
  text-decoration: none;
  color: #020202;
  outline: none;
  padding-bottom: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-menu__link:hover {
  color: #ffc800;
  border-bottom: 2px solid #ffc800;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-contacts__phone {
  margin-right: 43px;
}

.navbar-contacts__icon {
  max-width: 100%;
}

.navbar-contacts__button {
  padding: 7px 15px;
  font-size: 14px;
  font-family: 'Proxima Nova Lt', sans-serif;
}

.navbar-contacts__link {
  font-size: 18px;
  font-family: 'Proxima Nova Lt', sans-serif;
  color: #020202;
  text-decoration: none;
  outline: none;
}

.navbar-contacts__regular {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
}

.menu {
  background-color: #ffffff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -100vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
}

.menu__active {
  right: 0;
}

.menu__links {
  color: #020202;
  text-decoration: none;
  line-height: 5;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__links:hover {
  color: #ffc800;
}

.menu__items {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-link {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffc800;
  position: absolute;
  top: 15px;
  right: 10%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 21;
}

.menu-link:focus {
  outline: none;
}

.menu-link:active {
  outline: none;
}

.menu-link__line {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #010101;
}

.menu-link__line:before {
  content: '';
  margin-top: -6px;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  background-color: #010101;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link__line:after {
  content: '';
  margin-top: 4px;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  background-color: #010101;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link__active {
  position: fixed;
}

.menu-link__active .menu-link__line {
  background-color: transparent;
}

.menu-link__active .menu-link__line:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}

.menu-link__active .menu-link__line:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
}

.hero {
  margin-bottom: 133px;
}

.hero-slide {
  background: #000000 url("../img/hero-bg.png");
  background-size: cover;
  max-height: 742px;
  height: 90vh;
  color: #fffffe;
  outline: none;
}

.hero-slide__title {
  margin-top: 205px;
  margin-bottom: 11px;
  color: #ffc800;
  font-size: 35px;
  letter-spacing: 0.2px;
  font-family: 'Proxima Nova Lt', sans-serif;
  text-transform: uppercase;
}

.hero-slide__subtitle {
  margin: 0;
  margin-bottom: 25px;
  color: #fffffe;
  font-size: 35px;
}

.hero-slide__description {
  margin-bottom: 48px;
  color: #fffffe;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.42;
}

.hero-slide__button {
  padding: 12px 38px;
  color: #030303;
  font-size: 18px;
  font-family: 'Proxima Nova Lt', sans-serif;
  text-transform: uppercase;
}

.servises {
  margin-bottom: 140px;
}

.servises-block {
  background-color: rgba(241, 241, 241, 0.55);
  padding-top: 104px;
  padding-bottom: 100px;
}

.servises-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servises-variants__item1, .servises-variants__item2, .servises-variants__item3, .servises-variants__item4, .servises-variants__item5, .servises-variants__item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 377px;
  height: 236px;
  margin-bottom: 21px;
  text-align: center;
}

.servises-variants__item1 {
  background-image: url("../img/servises-bg1.jpg");
}

.servises-variants__item2 {
  background-image: url("../img/servises-bg2.jpg");
}

.servises-variants__item3 {
  background-image: url("../img/servises-bg3.jpg");
}

.servises-variants__item4 {
  background-image: url("../img/servises-bg1.jpg");
}

.servises-variants__item5 {
  background-image: url("../img/servises-bg2.jpg");
}

.servises-variants__item6 {
  background-image: url("../img/servises-bg3.jpg");
}

.servises-variants__title {
  margin-top: 59px;
  margin-bottom: 25px;
  color: #fcfafa;
  font-size: 20px;
  line-height: 26px;
}

.servises-variants__button {
  padding: 7px 20px;
  color: #020202;
  font-size: 15px;
  font-family: 'Proxima Nova Lt', sans-serif;
  text-transform: uppercase;
}

.introduction {
  padding-top: 95px;
  padding-bottom: 55px;
  margin-bottom: 143px;
  background-image: url("../img/introduction-bg.jpg");
  background-size: 57%;
  background-repeat: repeat-y;
}

.introduction__title {
  padding: 15px 30px;
}

.introduction-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 73%;
      flex-basis: 73%;
  margin-right: 90px;
}

.introduction-cards__item {
  width: 198px;
  height: 168px;
  margin-bottom: 38px;
  text-align: center;
  background-color: #ffffff;
}

.introduction-cards__image {
  margin-top: 17px;
  margin-bottom: 10px;
  max-width: 100%;
}

.introduction-cards__description {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  color: #020202;
}

.introduction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.introduction-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.introduction-list__text {
  color: #020202;
  font-size: 19px;
  line-height: 25px;
}

.introduction-list__number {
  display: inline-block;
  position: relative;
  margin-right: 75px;
  margin-bottom: 40px;
  color: #ffc800;
  font-size: 35px;
  font-family: 'Proxima Nova Lt', sans-serif;
  line-height: 25px;
  text-transform: uppercase;
}

.introduction-list__number:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 40px;
  width: 31px;
  height: 2px;
  background-color: #000000;
}

.feedback {
  background-color: #010101;
  margin-bottom: 147px;
}

.feedback__title {
  top: -50px;
  padding: 15px 64px;
}

.feedback-block {
  color: #fffffe;
}

.feedback-slider__item {
  padding-top: 112px;
  text-align: center;
  outline: none;
}

.feedback-slider__title {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 19px;
  color: #ffc800;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.feedback-slider__text {
  display: inline-block;
  max-width: 500px;
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.feedback-slider__likes {
  margin-bottom: 162px;
}

.feedback .likes-number {
  display: inline-block;
  font-size: 15px;
}

.feedback .dislikes-icon {
  margin-left: 25px;
}

.container-feedback {
  max-width: 1399px;
  margin: auto;
}

.news {
  background-color: #f1f1f1;
  padding-bottom: 72px;
}

.news__title {
  padding: 15px 54px;
  top: -51px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 87px;
  padding-bottom: 65px;
}

.news-block__image {
  max-width: 100%;
  display: block;
}

.news-block__title {
  display: inline-block;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 12px;
  margin-right: 60px;
  font-size: 20px;
  font-family: 'Proxima Nova Lt', sans-serif;
  color: #020202;
  text-transform: uppercase;
}

.news-block__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-block__date {
  font-size: 16px;
  color: #020202;
  text-transform: uppercase;
}

.news-block__text {
  max-width: 324px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #020202;
  opacity: 0.83;
}

.news-block__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news__btn {
  display: block;
  margin: auto;
  padding: 19px 42px;
  font-size: 20px;
  color: #020202;
  font-family: 'Proxima Nova Lt', sans-serif;
  text-transform: uppercase;
}

.news .date__primary {
  width: 25px;
  height: 25px;
  background-color: #ffc800;
}

.map-block {
  position: relative;
  height: 666px;
}

.map-form {
  width: 300px;
  position: absolute;
  z-index: 10;
  top: 142px;
  left: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 46px 47px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 1px 9px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 1px 9px 4px rgba(0, 0, 0, 0.5);
}

.map-form__title {
  margin: 0;
  margin-bottom: 39px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.map-form__input {
  font-style: italic;
  border: none;
  border-bottom: 1px solid #020202;
  margin-bottom: 40px;
  padding-bottom: 5px;
  opacity: 0.7;
  color: #020202;
  font-size: 18px;
  outline: none;
}

.map-form__input:last-of-type {
  margin-bottom: 64px;
}

.map-form__button {
  padding: 19px 57px;
  margin-bottom: 7px;
  color: #020202;
  font-size: 19px;
  font-family: 'Proxima Nova Lt', sans-serif;
  text-transform: uppercase;
}

.map .form-title__primary {
  color: #ffc800;
}

.footer {
  background-color: #010101;
  padding: 55px 0;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.footer-adress__icon {
  margin-right: 13px;
}

.footer-adress__link {
  font-size: 20px;
  color: #fffffe;
  text-decoration: none;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-socials__icon:hover {
  background-color: #ffc800;
}

.footer-socials__image {
  max-width: 70%;
}

.footer-socials__insta {
  max-width: 60%;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-contacts__icon {
  margin-right: 10px;
}

.footer-contacts__mail {
  position: relative;
  margin-right: 50px;
  font-size: 18px;
  color: #fffffe;
  text-decoration: none;
}

.footer-contacts__mail:after {
  content: '';
  position: absolute;
  top: 4px;
  right: -27px;
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.33;
}

.footer-contacts__phone {
  font-size: 18px;
  font-family: 'Proxima Nova Lt', sans-serif;
  color: #fffffe;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts__regular {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 400px;
  width: 90%;
  padding: 50px;
  background-color: #ffffff;
  opacity: 0.9;
}

.modal-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffc800;
  border: none;
  font-size: 18px;
  outline: none;
  font-family: 'Proxima Nova Lt', sans-serif;
  cursor: pointer;
}

.modal-dialog__title {
  font-size: 16px;
  font-family: 'Proxima Nova Lt', sans-serif;
}

.success {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.success_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success-dialog {
  position: relative;
  margin: auto;
  max-width: 400px;
  width: 60%;
  padding: 50px;
  background-color: #ffffff;
  opacity: 0.9;
}

.success-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffc800;
  border: none;
  font-size: 18px;
  outline: none;
  font-family: 'Proxima Nova Lt', sans-serif;
  cursor: pointer;
}

.success-dialog__title {
  font-size: 18px;
  font-family: 'Proxima Nova Lt', sans-serif;
}

@media (max-width: 1550px) {
  .map-form {
    top: 20%;
    left: 10%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .section__title {
    left: 10%;
  }
  .header {
    background-size: 39%;
  }
  .navbar-menu__logo {
    margin-right: 50px;
  }
  .navbar-contacts__link {
    font-size: 14px;
  }
  .servises-variants {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news-block__item {
    margin-bottom: 35px;
  }
  .map-form {
    width: 270px;
  }
  .map-form__button {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 85%;
  }
  .section__title {
    font-size: 23px;
  }
  .header {
    background-size: 100%;
  }
  .navbar-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-contacts__phone {
    display: none;
  }
  .navbar-contacts__button {
    display: none;
  }
  .navbar-menu__items {
    display: none;
  }
  .menu-link {
    display: block;
  }
  .hero-slide__title {
    margin-top: 190px;
    font-size: 30px;
  }
  .hero-slide__subtitle {
    font-size: 30px;
  }
  .hero-slide__button {
    font-size: 15px;
  }
  .introduction-list__text {
    font-size: 18px;
  }
  .footer-adress {
    margin-bottom: 10px;
  }
}

@media (max-width: 886px) {
  .introduction {
    background-size: 100%;
  }
  .introduction-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction-cards {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .introduction-list__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }
  .hero-slide__title {
    font-size: 26px;
  }
  .hero-slide__subtitle {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .hero-slide__description {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .menu__links {
    font-size: 20px;
  }
  .news-block {
    padding-bottom: 40px;
  }
  .news__btn {
    font-size: 18px;
  }
  .map-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map-form {
    width: 350px;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    padding: 51px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .map-form__button {
    font-size: 15px;
  }
  .footer-adress {
    margin-bottom: 10px;
  }
  .footer-adress__link {
    font-size: 15px;
  }
  .footer-socials {
    margin-bottom: 10px;
  }
  .footer-contacts__mail {
    font-size: 15px;
  }
  .footer-contacts__phone {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .hero-slide__title {
    font-size: 20px;
    margin-top: 50px;
  }
  .hero-slide__subtitle {
    font-size: 20px;
  }
  .hero-slide__description {
    font-size: 16px;
    line-height: 1;
  }
}
/*# sourceMappingURL=main.css.map */